
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Community Contact</title>
<link rel="stylesheet" href="css/style.css">

</head>
<body>

  <%- include('../partials/header') %>

  <section class="contact-section">
    <div class="contact-container">
      <div class="contact-left">
        <h2>Contact us:<br></h2>
        <p>Let us know how we can support you. Our community is here to listen and help.</p>
      </div>
      <div class="contact-right">
        <form method="POST" action="/contact">
          <div style="display: flex; gap: 10px;">
            <input type="text" name="firstName" placeholder="First Name *" required style="flex:1;">
            <input type="text" name="lastName" placeholder="Last Name *" required style="flex:1;">
          </div>
          <input type="email" name="email" placeholder="Email *" required />
          <textarea name="message" rows="4" placeholder="Leave us a message..."></textarea>
          <button type="submit" class="btn-submit">Submit</button>
        </form>
      </div>
    </div>
  </section>
<%- include('../partials/footer') %>
</body>
</html>
