<%- include('../partials/header') %>

<h1>Welcome to Our Homepage</h1>
<p>Welcome to the University Community Portal, your one-stop hub designed for students! 
    Stay connected with upcoming events like Tech Talks, Hackathons, Music and Food Festivals and many different Workshops.
    You can discover the dedicated team behind the portal on our About page, 
    and reach out with any questions via our Contact form. This portal is here to enhance your university experience with 
    dynamic updates and a supportive community—explore and get involved!</p>

<%- include('../partials/footer') %>
