
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Community Portal</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <nav>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div class="header-section">
    <h1 id="Welcome-header">Welcome to our community portal.</h1>
    <h3>Welcome to the University Community Portal, your one-stop hub designed for students! </h3>
    <div style="text-align: center;">
          <button class="btn btn-primary">Get Started</button>
    </div>
  
  </div>

</body>
</html>

