<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Community Contact</title>
<link rel="stylesheet" href="css/style.css">

</head>
<body>

    <%- include('../partials/header') %>
<div class="thankyou">
    <h1>Thank You, <%= name %>!</h1>
    <p>We’ve received your message and will get back to you soon.</p>
 </div>
  
     <div class="button-container">
   <a href="/home.ejs"><button class="btn btn-secondary">Next</button></a>

  </div>

    <%- include('../partials/footer') %>
</body>
</html>
