
  <link rel="stylesheet" href="public/css/style.css">

  <header>
   <nav>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  </header>
  
